/* You can add global styles to this file, and also import other style files */

html, body{
    overflow: hidden;
 }

 .top30 {
     margin-top: 30px;
 }

 .erro {
     color: red;
 }

 .input-erro {
    border: solid 1px red !important;
  }
  